/.idea
/*.out
/*.pyc
/*.pyo

a.out
*.out
/Day 5/a.out
/Day 6/a.out
/Day 7/a.out
/Day 8/a.out
/Day 9/a.out
/Day 10/a.out
/Day 11/a.out
/Day 12/a.out
/Day 13/a.out
/Day 14/a.out
/Day 15/a.out
/Day 16/a.out
/Day 17/a.out
/Day 18/a.out
/Day 19/a.out
/Day 20/a.out

